@media only screen and (min-width: 769px) and (max-width: 991px) {
  .device:nth-child(3n+1) {
    clear: both;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .device:nth-child(4n+1) {
    clear: both;
  }
}
.device .panel-heading .attrs {
  display: inline-block;
  float: right;
  font-size: .75em;
  margin: -5px 0;
  text-align: right;
}
.device .panel-heading .attrs span {
  display: block;
}
.device .property {
  margin-bottom: 0.5em;
}
.device .property:nth-child(2n+1) {
  clear: both;
}

.temperature {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  border: 1px solid;
  font-size: 2em;
  text-align: center;
  line-height: 0;
}
.temperature [class^="icon-"]:before,
.temperature [class*=" icon-"]:before {
  line-height: 0;
}

.target, .fan {
  font-size: 1.5em;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
}

.heat {
  color: red;
}

.cool {
  color: blue;
}

.contact {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  border: 1px solid;
  font-size: 2em;
  text-align: center;
  line-height: 0;
}
.contact [class^="icon-"]:before,
.contact [class*=" icon-"]:before {
  line-height: 0;
}

.switch {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  border: 1px solid;
  font-size: 2em;
  text-align: center;
  line-height: 0;
}
.switch [class^="icon-"]:before,
.switch [class*=" icon-"]:before {
  line-height: 0;
}
.switch.on {
  background-color: green;
  color: white;
}

.motion {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  border: 1px solid;
  font-size: 2em;
  text-align: center;
  line-height: 0;
}
.motion [class^="icon-"]:before,
.motion [class*=" icon-"]:before {
  line-height: 0;
}
.motion.inactive {
  color: #ccc;
}

.presence {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  border: 1px solid;
  font-size: 2em;
  text-align: center;
  line-height: 0;
}
.presence [class^="icon-"]:before,
.presence [class*=" icon-"]:before {
  line-height: 0;
}

.humidity {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  border: 1px solid;
  font-size: 2em;
  text-align: center;
  line-height: 0;
  color: blue;
}
.humidity [class^="icon-"]:before,
.humidity [class*=" icon-"]:before {
  line-height: 0;
  position: relative;
  top: 2em;
  display: block;
  text-align: center;
  font-size: 0.5em;
}

.debug {
  max-height: 1.5em;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.debug:hover {
  max-height: 9999px;
}
.debug li.title {
  font-size: 0.9em;
  text-align: center;
  padding: 0.25em;
}
