.device .panel-heading .attrs {
  display: inline-block;
  float: right;
  font-size: .75em;
  margin: -5px 0;
  text-align: right;
}
.device .panel-heading .attrs span {
  display: block;
}

.temperature {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  border: 1px solid;
  display: inline-block;
}
.temperature span {
  font-size: 2em;
  display: block;
  vertical-align: middle;
  line-height: 75px;
  width: 75px;
  text-align: center;
}

.target, .fan {
  font-size: 1.5em;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
}

.heat {
  color: red;
}

.cool {
  color: blue;
}

.contact {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  border: 1px solid;
  display: inline-block;
}
.contact span {
  font-size: 2em;
  display: block;
  vertical-align: middle;
  line-height: 75px;
  width: 75px;
  text-align: center;
}

.switch {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  border: 1px solid;
  display: inline-block;
}
.switch span {
  font-size: 2em;
  display: block;
  vertical-align: middle;
  line-height: 75px;
  width: 75px;
  text-align: center;
}
.switch.on {
  background-color: green;
  color: white;
}

.debug {
  max-height: 1.5em;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
.debug:hover {
  max-height: 9999px;
}
.debug li.title {
  font-size: 0.9em;
  text-align: center;
  padding: 0.25em;
}
