@import "compass/css3/transition";

@mixin circleProp {
	@include transition(all 0.3s);

	position: relative;
	display: inline-block;
	width: 100%;
	height: 0;
	padding: 50% 0;
	border-radius: 50%;
	border: 1px solid;

	font-size: 2em;
	text-align: center;
	line-height: 0;

	[class^="icon-"]:before,
	[class*=" icon-"]:before { line-height: 0; }
}

$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

@mixin respond-to($media) {
	@if $media == xs {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == sm {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
	}
	@else if $media == m {
		@media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == l {
		@media only screen and (min-width: $break-large) { @content; }
	}
}

.device {
	@include respond-to(sm) { &:nth-child(3n+1) { clear: both; } }
	@include respond-to(m) { &:nth-child(4n+1) { clear: both; } }

	.panel-heading {
		.attrs {
			display: inline-block;
			float: right;
			font-size: .75em;
			margin: -5px 0;
			text-align: right;

			span {display: block; }
		}
	}

	.property:nth-child(2n+1) {
		clear: both;
	}
}

.temperature {
	@include circleProp();
}

.target, .fan {
	font-size: 1.5em;
	vertical-align: top;
	display: inline-block;
	white-space: nowrap;
}

.heat { color: red; }
.cool { color: blue; }

.contact {
	@include circleProp();
}

.switch {
	@include circleProp();

	&.on {
		background-color: green;
		color: white;
	}
}

.motion {
	@include circleProp();

	&.inactive {
		color: #ccc;
	}
}

.presence {
	@include circleProp();
}

.debug {
	max-height: 1.5em;
	overflow: hidden;

	@include transition(max-height 0.4s);

	&:hover {
		max-height: 9999px;
	}

	li.title {
		font-size: 0.9em;
		text-align: center;
		padding: 0.25em;
	}
}
