<!DOCTYPE html>
<html ng-app="Dashboard">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SmartThings Dashboard</title>
	<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'/>
	<link rel='stylesheet' href='css/font.css'/>
	<link rel='stylesheet' href='css/style.css'/>
</head>
<body>
	<div class='container' ng-controller="DashCtrl">
		<h1>SmartThings Dashboard</h1>

		<div class='row'>
			<div class='device col-md-3 col-sm-4' ng-repeat="d in devices">
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<div class='attrs'>
							<span class='battery' ng-if='d.battery'>{{d.battery}} <i class='{{d.batteryIcon}}'></i></span>
							<span class='rssi' ng-if='d.rssi'>{{d.rssi}} <i class='icon-signal'></i></span>
						</div>
						<h2 class='panel-title'>{{d.name}}</h2>
					</div>
					<div class='panel-body'>
						<div class='thermostat' ng-if='d.capabilities.indexOf("Thermostat") != -1'>
							<div class='col-sm-6 property'>
								<div class='temperature' style='background-color: {{d.temperatureBgColor}}; color: {{d.temperatureTextColor}};'>
									{{d.temperature}}°
								</div>
							</div>
							<div class='col-sm-6 property'>
								<div class='target' ng-if="d.thermostatMode != 'off'">
									<span class='heat icon-fire' ng-if="d.thermostatMode == 'heat' || d.thermostatMode == 'emergency heat'"> {{d.heatingSetpoint}}°</span>
									<span class='cool icon-snow' ng-if="d.thermostatMode == 'cool'"> {{d.coolingSetpoint}}°</span>
								</div>
								<div class='fan icon-air' ng-if="d.thermostatFanMode != 'off'">
									{{d.thermostatFanMode}}
								</div>
							</div>
						</div>
						<div class='col-sm-6 property' ng-if='d.capabilities.indexOf("Temperature Measurement") != -1' ng-class="{ 'col-sm-offset-3': d.capabilities.length == 1 }">
							<div class='temperature'  style='background-color: {{d.temperatureBgColor}}; color: {{d.temperatureTextColor}};'>
								<span>{{d.temperature}}°</span>
							</div>
						</div>
						<div class='col-sm-6 property' ng-if='d.capabilities.indexOf("Contact Sensor") != -1' ng-class="{ 'col-sm-offset-3': d.capabilities.length == 1 }">
							<div class='contact'>
								<span class='open icon-open' ng-if='d.contact == "open"'></span>
								<span class='closed icon-close' ng-if='d.contact == "closed"'></span>
							</div>
						</div>
						<div class='col-sm-6 property' ng-if='d.capabilities.indexOf("Switch") != -1' ng-class="{ 'col-sm-offset-3': d.capabilities.length == 1 }">
							<div class='switch {{d.switch}}'>
								<span class='icon-switch'></span>
							</div>
						</div>
						<div class='col-sm-6 property' ng-if='d.capabilities.indexOf("Motion Sensor") != -1' ng-class="{ 'col-sm-offset-3': d.capabilities.length == 1 }">
							<div class='motion {{d.motion}}'>
								<span class='icon-eye'></span>
							</div>
						</div>
						<div class='col-sm-6 property' ng-if='d.presence' ng-class="{ 'col-sm-offset-3': d.capabilities.length == 1 }">
							<div class='presence' ng-class="{'away': d.presence != 'present'}">
								<span ng-class="{'icon-present': d.presence == 'present', 'icon-away': d.presence != 'present'}"></span>
							</div>
						</div>
					</div>
					<ul class='list-group debug'>
						<li class='list-group-item title'>Device Attributes</li>
						<li class='list-group-item' ng-repeat="(key, value) in d">{{key}}: {{value}}</li>
					</ul>
				</div>
			</div>
			<div class='col-md-6 col-sm-offset-3 '>
				<div class='panel panel-danger' ng-if="false">
					<div class='panel-heading'><h4>SmartApp Issue</h4></div>
					<div class='panel-body'>
						<p>
							There are currently no devices being reported. This is likely caused by the
							SmartApp being uninstalled or updated. If you recently updated the app
							try refreshing this page.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/0.5.2/chroma.min.js"></script>
	<script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>

	<script src="https://cdn.goinstant.net/v1/platform.min.js"></script>
	<script src="https://cdn.goinstant.net/integrations/goangular/latest/goangular.min.js"></script>
	<script src='js/app.js'></script>
</body>
</html>
